torch
torchvision
torchaudio
torchmetrics
numpy
pandas
scipy
wandb
tqdm
lion-pytorch
matplotlib
seaborn
scikit-learn
seaborn
Pillow==9.5.0
git+https://github.com/kotekjedi/spriteworld_legacy.git
dm_env