--extra-index-url https://download.pytorch.org/whl/cu117
git+https://github.com/JackBrady/spriteworld
torch==2.0.1
torchvision
torchaudio
numpy
pandas
seaborn
scipy
torchmetrics
wandb
tqdm
hydra-core
Pillow
lion-pytorch

