torch
torchvision
torchaudio
torchmetrics
numpy
pandas
scipy
wandb
tqdm
hydra-core
lion-pytorch
matplotlib
seaborn
scikit-learn
seaborn
Pillow==9.5.0
dm-env
hydra-core
git+https://github.com/kotekjedi/spriteworld_legacy.git
